#comments & basic data types

In [1]:
#this is a comment

In [2]:
print("hello") #this is a comment

hello

In [3]:
""" this is a multi-line comment
"""
print("hello") # this is a comment

hello

In [4]:
#the following are all integers
print(2)
print(10)

2
10

In [5]:
#the following are all floats
print(10.953)
print(8.0)# even this number is a float

10.953
8.0

In [7]:
#the following are booleans
print(True)
print(False)

True
False

In [8]:
#the following are strings
print("")
print("there's a snake in my boot!")
print('True')

there's a snake in my boot!
True

In [11]:
print("Brenda Sharon Adongo")

Brenda Sharon Adongo

#variables

In [12]:
num1=5 # storing an integer into a variable
num2=8.4 #stpring a float into a variable
print(num1,num2)

5 8.4

In [13]:
#storing a boolean into variable
switch=True
print(switch)

True

In [14]:
#storing strings into a variable
name='John Smith'
fav_number='9'
print(name, fav_number)

John Smith 9

In [15]:
# using two variables to create another variable
result=num1+num2
print(result)

13.4

In [16]:
#adding,deleting,multiplying,dividing from a variable
result+=1 #same as saying =result+1
print(result)
result*=num1
print(result)

14.4
72.0

In [17]:
#defining a variable and overwriting its value
name='John'
print(name)
name='Sam'
print(name)

John
Sam

In [18]:
# tuesday's exercise
x=3
y=10
result=x*y
print(x+y)

13

In [19]:
width=245.54
height=13.66
area=width*height
print(area)

3354.0764

#working with strings

In [20]:
#using the addition operator without variables
name="John"+""+"Smith"
print(name)

JohnSmith

In [21]:
#using addition operator with variables
first_name="John"
last_name="Smith"
full_name=first_name+""+last_name
print(full_name)

JohnSmith

In [26]:
#injecting variables using the format method
name="John"
print("Hello{}".format(name))
print("Hello{}, you are{}years old!".format(name,28))

HelloJohn
HelloJohn, you are28years old!

In [27]:
#using the new f strings
name="John"
print(f"Hello{name}")

HelloJohn

In [29]:
#one major difference between versions 2&3
name='John'
print('Hello,%s'%name)

Hello,John

In [30]:
#python2 multiple  variable formatting
first_name="John"
last_name="Smith"
print("Hello,%s%s"%(first_name,last_name)) #surround the variable in parenthesis

Hello,JohnSmith

In [32]:
#using indexes to print each element
word="Hello"
print(word[0]) #will output 'H'
print(word[1]) # will output 'e'
print(word[-1]) #will output'o'

H
e
o

In [35]:
#wednesday's exercise
name="John"
print("23 4.5 False{}".format(name))

23 4.5 FalseJohn

#Manipulating strings

In [36]:
#using the title metod to capitalize a string
name="john smith"
print(name.title())

John Smith

In [38]:
#replacing an exclamation point with a period
words="Hello there!"
words=words.replace("!",".")
print(words.replace("!","."))

Hello there.

In [40]:
# finding the starting index of our searched term
s="look over that way"
print(s.find("over")) #not understood properly

5

In [44]:
# removing white space with strip
name="  John  "
print(name.strip())

John

In [48]:
#converting a string into a list of words
s="These words are separated by spaces"
print(s.split(""))  #we'll come back to this method and why it is important

ValueError: empty separator

In [49]:
#thursday's exercise
name="brenda sharon adongo"
print(name.title())

Brenda Sharon Adongo

In [63]:
name="$$John Smith"
print(name.rstrip(None))
help("".strip)

$$John Smith
Help on built-in function strip:

strip(chars=None, /) method of builtins.str instance
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

#Friday project: printing Receipts

In [82]:
#create a product and price for three items
p1_name, p1_price="Books",49.95
p2_name, p2_price="Computer",579.99
p3_name, p3_price="Monitor",124.89

#create a company name and information
company_name="coding temple,inc." #we've left company name all lowercase so we can use a string manipulation method to fix the issue
company_address="283 Franklin St."
company_city="Boston,MA"

#declare ending message
message="Thanks for shopping with us today!"

#create a top border
print("*"*50) #print out 50 stars in a row for a top border

#print company information first,using format
print("\t\t{}".format(company_name.title())) #\t used for tab indentation
print("\t\t{}".format(company_address.title()))
print("\t\t{}".format(company_city.title()))

#print a line between sections
print("="*50) #divider

#print out header for section of items
print("\tproduct Name\tproduct Price")

#create a print statement for each product
print("\t{}\t\t${}".format(p1_name.title(),p1_price))
print("\t{}\t\t${}".format(p2_name.title(),p2_price))
print("\t{}\t\t${}".format(p3_name.title(),p3_price))

#print a line between sections
print('='*50)

#print out header for section of total
print("\t\t\tTotal")

#calculate total price and print out
total=p1_price+p2_price+p3_price
print("\t\t\t${}".format(total))

#print a line between sections
print("="*50)

#output thank you message
print("\n\t{}\n".format(message))

#create a bottom border
print("*"*50) #return to page 70 for the exercise and more adjustments

**************************************************
		Coding Temple,Inc.
		283 Franklin St.
		Boston,Ma
==================================================
	product Name	product Price
	Books		$49.95
	Computer		$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************